body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar-wrapper {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #252525;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,0.76) 100%); 
    color: #f22b2b;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.75em
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 1.1em
  }
  
  .nav-links a:hover {
    color: white;
  }
  
  .about-title {
    margin-top: 80px;
    text-align: center;
  }

  .person-container{
    display: flex;
    align-items: start;
    gap: 30px;
    padding: 20px;
  }

  .heading {
    background-color: #e6e6e6;
    position: absolute;
    z-index: -1;
    top: 0;
    height: 400px;
    width: 100vw;
    clip-path: polygon(100% 0, 100% 60%, 90% 80%, 10% 80%, 0 100%, 0 0);
  }

  .red-atagi-pic {
    border-radius: 50% 0 50% 0;
    width: 250px;
    padding-left: 20px;
  }

  .reds-bio {
    width: 60vw;
    margin: auto;
    font-size: 1.2em;
  }

  footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
  }

  .footer-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: inline-block;
  }

  .footer-links li {
    display: inline;
    margin: 0 10px;
  }

  .footer-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }

  .footer-links a:hover {
    color: #fff;
  }

  .divider {
    display: inline-block;
    height: 16px;
    width: 1px;
    background-color: #555;
    margin: 0 20px;
    vertical-align: middle;
  }
  